---
title: Colin McCloskey . About
---

<h1>About Colin (2017)</h1>

<p class="intro">
  I wrote this version of my "About Me" page in the middle of winter 2017. We were
  only just expecting our second child and I was in the throes of redoing our new
  house in-between on-call stretches at work. I don't recommend tripling-up on
  those activities.
</p>

<p>
  Who, me!? I'm a 34 year old, married, father of two living in <a href="http://www.philly.com/">Philadelphia, PA</a>. I work full-time
  in front of a computer screen, but enjoy spending time with my family, taking in sporting events, and long chats with friends when
  <a href="http://www.urbandictionary.com/define.php?term=away%20from%20keyboard">AFK</a>. I have little to no idea how to remodel a house,
  but just bought a big fixer-upper that needs some serious work.
</p>

<p>
  I'm an east-coaster at heart, having been born outside of Philadelphia, growing up in New Jersey, and college'ing in
  <a href="http://udel.edu">Delaware</a>. I went west to San Francisco at the start of my career, but found my way back to the
  <a href="http://hiddencityphila.org/2013/11/behind-philadelphia-maneto-dissecting-the-city-seal/">City of Brotherly Love</a> in due time.
</p>

<p>
  Along the way, I've kicked off a <a href="http://wosomp.com">semi-regular olympiad of wacky sports</a>, run my own
  <a href="http://awexomelabs.com">software consultancy</a>, helped found <a href="https://emmerge.com/">a tech startup</a>,
  and tailored remote work for companies large and small.
</p>

<p>
  Personally, I <a href="http://thebluesunshine.com">married up</a> in terms of brains and beauty, and created two amazing, tiny
  humans, who rule our roost with reckless abandon: one with tantrums and hilarity and the other with poopy diapers and sleepless
  nights.
</p>

<p>
  Most days, you can find me kicking around my neighborhood and taking in what life has to offer.
</p>


<h2>Other Things to Know</h2>
<ul>
  <li>There are only <a href="http://howmanyofme.com/search/?given=Colin&sur=McCloskey">two Colin McCloskeys</a> in America, and I get the other guy's email all the time!</li>
  <li>I grew up thinking I'd love living in rural areas, but have come to realize <a href="http://www.visitphilly.com/">cities</a> <a href="http://www.sftravel.com/">are</a> <a href="https://www.thrillist.com/entertainment/nation/why-cities-are-better-than-rural-america">the best</a></li>
  <li>I broke my left leg just before college. There, I moved so slowly that a group of freshmen in a Christian club tried to ditch me during a scavenger hunt. Served me right, because I was a heathen only on the hunt for the free ice cream at the end.</li>
  <li>The deep ocean &mdash; and <a href="https://en.wikipedia.org/wiki/Shark">the</a> <a href="https://en.wikipedia.org/wiki/Marine_snow">things</a> <a href="http://animalia-life.club/fishes/northern-stargazer.html">in</a> <a href="http://www.dailymail.co.uk/sciencetech/article-1155283/What-catch-The-amazing-deep-sea-fish-transparent-head.html">it</a> &mdash; unnerve me, but I love the shore.</li>
  <li>I play bass guitar. Sometimes in a band called <a href="https://fb.me/MonicasGhost">Monica’s Ghost</a>.</li>
  <li>My favorite color is orange.</li>
  <li>I wore my hair in a ponytail from fifth through tenth grade. It was a horrible mistake to do so.</li>
  <li>I love dogs, but can't have one because my wife is allergic. This is fine with me.</li>
  <li>At a party after high school, <a href="http://colinmccloskey.com/music/ClintAmbs_TheMcCloskeys.mp3">a good friend of mine improvised a song about my family</a>.</li>
</ul>

<p>
  <%= partial "historical_links" %>
</p>
