---
title: Colin McCloskey . About
---

<h1>About Colin</h1>

<p>
  What's to know? I'm a 33 year old, married, father of one living in <a href="http://www.ew.com/sites/default/files/i/imgs/101207//rocky-1976_510.jpg">Philadelphia, PA</a>
  and running <a href="http://awexomelabs.com/">my own software consulting business</a>. I enjoy spending time with my family, taking
  in sporting events, and long chats with friends. I haven't gotten into 
  <span rel="rand">
    <span>Game of Thrones</span>
    <span>Breaking Bad</span>
    <span>that Netflix show everyone talks about</span>
  </span>,
  but I've got a handful of shows I watch religiously programmed into the DVR.
</p>

<p>
  I was born in the Philadelphia suburbs, but grew up in <a href="https://en.wikipedia.org/wiki/Branchburg,_New_Jersey">Central New Jersey</a> -- which is
  a place distinct from North and South Jersey. Since my Dad first brought home a 
  <a href="https://en.wikipedia.org/wiki/IBM_Personal_Computer_XT">castoff PC</a> from his work when I was nine years old, I've been invested in computers, and able
  to do interesting things with them.
</p>

<p>
  That bug led me to study Computer Science in <a href="http://udel.edu">college</a>, where
  I met <a href="http://thebluesunshine.com">the love of my life</a>. After school, I
  started my career as a software engineer close to my hometown, but somewhere along the
  line I was bitten by a desire to try something different. I followed that whim to 
  a job as the second employee of a startup company in San Francisco.
</p>

<p>
  There, I learned an incredible amount about business and gained valuable experience 
  at work. My girlfriend (now wife) and I made lots of friends and connections and explored
  the west coast a bit before returning east after three years. Back home,
  <a href="http://lizandcolin.us">we married</a> and moved into the city of Philadelphia,
  where we've lived since 2011.
</p>

<p>
  We settled into our new city, and eventually grew our family by welcoming our son
  into the world a few years later. Along the way, I helped found another startup with
  colleagues of mine from that company in California and we spent two years building 
  collaboration tools into email for product managers and organizers everywhere.
</p>

<p>
  In my youth, I was a gifted student and avid soccer and hockey player. I'm an only child
  and I absolutely love inventing new games and sports -- so much so that I irregularly run
  <a href="http://wosomp.com/">an olympiad of crazy sports</a>.
</p>

<h2>Other Things to Know</h2>
<ul>
  <li>Contrary to what you may've heard, it is <a href="https://en.wikipedia.org/wiki/Polar_vortex">not always sunny</a> in Philadelphia.</li>
  <li>I broke my left leg jumping out of a swing (stuck the landing!) just before college. During the first week there, I lost a "crutch race" to someone who'd never used crutches before in their life.</li>
  <li>I am deeply terrified, yet fascinated, by <a href="https://en.wikipedia.org/wiki/Zombie">zombies</a>, <a href="https://en.wikipedia.org/wiki/Shark">sharks</a>, and <a href="https://en.wikipedia.org/wiki/Snake">snakes</a>.</li>
  <li>I play bass guitar. Sometimes in a band called <a href="https://fb.me/MonicasGhost">Monica’s Ghost</a>.</li>
  <li>My son looks mostly like my wife, but he's got his father's oversized head. Genetics!</li>
  <li>My favorite color is orange.</li>
  <li>I wore my hair in a ponytail from fifth through tenth grade. It was a horrible mistake to do so.</li>
  <li>I love dogs, but can't have one because my wife is allergic. This is fine with me.</li>
  <li><a href="http://colinmccloskey.com/music/ClintAmbs_TheMcCloskeys.mp3">A good friend of mine once improvised a song about my family</a>.</li>
</ul>

<p>
  <em>You can read previous versions of this profile: <%=link_to "2013", "/about/2013.html"%>, <%=link_to "2010", "/about/2010.html"%></em>
</p>

