<!-- Links to Colin elsewhere -->
<ul id="elsewhere">
    <li><a target="_blank" href="https://github.com/mccolin"><i class="fa fa-lg fa-fw fa-github"></i></a></li>
    <!--li><a target="_blank" href="https://instagram.com/mccolin"><i class="fa fa-lg fa-fw fa-instagram"></i></a></li-->
    <!--li><a target="_blank" href="https://twitter.com/mccolin"><i class="fa fa-lg fa-fw fa-twitter"></i></a></li-->
    <!--li><a target="_blank" href="https://facebook.com/colinmccloskey"><i class="fa fa-lg fa-fw fa-facebook-square"></i></a></li-->
    <li><a target="_blank" href="https://www.linkedin.com/in/mccolin"><i class="fa fa-lg fa-fw fa-linkedin"></i></a></li>
    <li><a target="_blank" href="https://angel.co/mccolin"><i class="fa fa-lg fa-fw fa-angellist"></i></a></li>
</ul>
