<h1>This is Colin McCloskey</h1>
<p>
  <span rel="rand">
    <span>Bearded computery nerd person.</span>
    <span>Bearded computery nerd person.</span>
    <span>Bearded computery nerd person.</span>
    <span>Former competitive axe thrower.</span>
    <span>Funny guy.</span>
  </span>
  <span rel="rand">
    <span>Philadelphian.</span>
    <span>City-dweller.</span>
  </span>
  <span rel="rand">
    <span>Co-creator of Bennett &amp; Lila.</span>
    <span>Phillies fan.</span>
    <span>Shark enthusiast.</span>
    <span>Edward Gorey enjoyer.</span>
  </span>
</p>
