---
title: Colin McCloskey
layout: front_door
---

<div id="intro">
  <%= partial "titles" %>

  <%= link_to "About", "/about", class: 'home-button' %>
  <%= link_to "Résumé", "/resume", class: 'home-button' %>

  <%= partial "elsewhere" %>
</div>
