---
title: Colin McCloskey . Resume
---



<section>
  <h1>Profile</h1>
  <p>
    Hands-on, full-stack technology leader with mentorship mentality and significant experience working directly with customers and leading teams in the enterprise and startup worlds.
  </p>
</section>

<section>
  <h1>Experience</h1>

  <section class="experience">
    <summary>
      <h1>Gusto</h1>
      <h2>Engineering</h2>
      <span class="location">Remote/San Francisco, CA</span>
      <time>9/2016 – Now</time>
    </summary>
    <ul>
      <li>Platform and SRE specialist, coordinating support efforts for engineering organization.</li>
      <li>Advised teams in design and scale of system architecture, database, out-of-band tasks, integrations, and application optimizations.</li>
      <li>Supported mission-critical applications and dependencies in engineering, DevOps, and incident response roles.</li>
      <li class="tag">Major Technologies: Ruby, Docker, Go, Chef, Elasticsearch, Databases</li>
    </ul>
  </section>

  <section class="experience">
    <summary>
      <h1>Emmerge</h1>
      <h2>Senior Architect</h2>
      <span class="location">Remote/San Francisco, CA</span>
      <time>4/2014 – 8/2016</time>
    </summary>
    <ul>
      <li>Founding member of startup team building email collaboration tools for project, team, and task management.</li>
      <li>Led team in design of high capacity and high availability email processing system, and overall architecture design.</li>
      <li>Built system interfacing with external mail systems, capturing 7.5M+ emails across thousands of accounts, and performing intelligence functions in content extraction, machine learning, natural language processing, deep categorization, and storage optimization in real-time.</li>
      <li>Developed <a href="/resume/US20160269336A1.pdf">patent pending</a> storage mechanism for shared email that enabled deep sharing and collaboration with principled security.</li>
      <li class="tag">Major Technologies: Meteor, node.js, JavaScript, MongoDB, Redis</li>
    </ul>
  </section>

  <section class="experience">
    <summary>
      <h1>Awexome Labs</h1>
      <h2>Principal</h2>
      <span class="location">Philadelphia, PA</span>
      <time>6/2010 - 8/2016</time>
    </summary>
    <ul>
      <li>Provided expert consultation to clients in varied industries as developer of service APIs, “small data” administration systems, and full-stack web applications.</li>
      <li>Led projects with six figure budgets, managing technology efforts as well as internal and external staff.</li>
      <li class="tag">Major Technologies: Ruby on Rails, Heroku, AWS, Database systems</li>
    </ul>
  </section>


  <section class="experience">
    <summary>
      <h1>Involver</h1>
      <h2>Senior Software Engineer</h2>
      <span class="location">San Francisco, CA</span>
      <time>3/2010 - 6/2010</time>
    </summary>
    <ul>
      <li>Lead engineer in custom services division, working directly with clients to specify project requirements and develop marketing products tightly integrated with social media platforms.</li>
      <li>Developed campaigns for Fortune 500 companies including Facebook, DIRECTV and scaled products to over 20M active users.</li>
      <li class="tag">Major Technologies: Ruby on Rails, Java VM, social integrations</li>
    </ul>
  </section>

  <section class="experience">
    <summary>
      <h1>Context Optional</h1>
      <h2>Application Genius</h2>
      <span class="location">San Francisco, CA</span>
      <time>2/2008 - 2/2010</time>
    </summary>
    <ul>
      <li>Employee #2 at startup providing social media consultation and software development to Fortune 500 companies.</li>
      <li>Directly responsible for product lifecycle of 25+ products on Facebook, Twitter, and Google social media platforms with clients including Microsoft, McDonald’s, Electronic Arts, Fandango, Zagat, NBC Universal, and Live Nation; user base peaking at 10M active.</li>
      <li>Acted in engineering, product design, and project management capacities for all projects; mentored onboarding staff; helped grow team to 50+ members in two years.</li>
      <li class="tag">Major Technologies: Ruby on Rails, JavaScript, MySQL, social integrations</li>
    </ul>
  </section>

  <section class="experience">
    <summary>
      <h1>CNET Networks</h1>
      <h2>Software Engineer, Platform</h2>
      <span class="location">Bridgewater, NJ</span>
      <time>6/2006 - 1/2008, Summer 2005</time>
    </summary>
    <ul>
      <li>Major contributor to internal build and product delivery system used by all engineering staff in company; maintainer of customized stack software including Apache, Resin, MySQL, Solr, and proprietary web products.</li>
      <li>Supported team efforts in development of major APIs and products used in all editorial verticals, including search engines and real-time data layers.</li>
      <li>Hired full-time following successful 2005 summer internship as team member.</li>
      <li class="tag">Major technologies: MySQL, Linux, Ruby, shell, networking, platforms</li>
    </ul>
  </section>

  <section class="experience">
    <summary>
      <h1>University of Delaware</h1>
      <h2>Residence Life</h2>
      <span class="location">Newark, DE</span>
      <time>8/2003 - 5/2006</time>
    </summary>
    <ul>
      <li>As a Hall Director (2005-06): Supervised staff of six Resident Assistants, advised student government serving 600 students, and oversaw academic programming and physical operations in two residence halls housing 220 students.</li>
      <li>Resident Assistant (2003-05): On a staff of nine, oversaw floor of 42 resident students and developed academic and cultural programming for residential complex serving 350 students; held leadership role in technology.</li>
    </ul>
  </section>

</section> <!-- Experience -->

<section>
  <h1>Skills</h1>
<span class="skill technical">Architecture</span>
<span class="skill technical">Data Design</span>
<span class="skill technical">Full-stack web development</span>
<span class="skill technical">API design</span>
<span class="skill technical">API development</span>
<span class="skill technical">Optimization</span>
<span class="skill technical">Scale</span>
<span class="skill lang">Ruby</span>
<span class="skill lang">JavaScript</span>
<span class="skill lang">Python</span>
<span class="skill lang">Go</span>
<span class="skill platform">Rails</span>
<span class="skill platform">React</span>
<span class="skill platform">node.js</span>
<span class="skill platform">Meteor</span>
<span class="skill data">MySQL</span>
<span class="skill data">Postgres</span>
<span class="skill data">MongoDB</span>
<span class="skill data">Redis</span>
<span class="skill data">Cassandra</span>
<span class="skill data">Elasticsearch</span>
<span class="skill env">AWS</span>
<span class="skill env">Linux</span>
<span class="skill env">Heroku</span>
<span class="skill env">Docker</span>
<span class="skill env">macOS</span>
<span class="skill env">nginx</span>
<span class="skill env">Chef</span>
<span class="skill soft">Small Team Leadership</span>
<span class="skill soft">Client Management</span>
<span class="skill soft">Project Management</span>
<span class="skill soft">Hiring</span>
<span class="skill soft">Roadmap</span>
<span class="skill soft">Remote work</span>

<p><em>Experience in many other disciplines, but efforts currently focused in these areas.</em></p>

</section>


<section>
  <h1>Education</h1>

  <section class="experience">
    <summary>
      <h1>M.Ed Technology</h1>
      <h2>University of Delaware</h2>
      <time>2006 <sup>±</sup></time>
    </summary>
    <ul>
      <li>Coursework: Adaptive Interfaces for Learning Needs</li>
      <li><sup>±</sup>Partially complete; postponed to take employment at CNET Networks</li>
    </ul>
  </section>

  <section class="experience">
    <summary>
      <h1>B.S. Computer Science</h1>
      <h2>University of Delaware</h2>
      <time>2005</time>
    </summary>
    <ul>
      <li>Concentration: Data-backed Web Systems</li>
      <li>Minor: Management Information Systems, Business</li>
      <li>Member: Honors Program</li>
    </ul>
  </section>

</section>

<section>
  <h1>Follow Up</h1>
  <p>
    <em>
      Résumé is available <%=link_to "in PDF format", "./ColinMcCloskey_2016a.pdf"%>.
      <br/>
      Contact: <%=link_to "LinkedIn", "https://www.linkedin.com/in/mccolin"%>, <%=link_to "Angel List", "https://angel.co/mccolin"%>
      <br/>
      Direct Email: jobs[current year] at mccolin.com
    </em>
  </p>
</section>
